<div class="navbar-lewagon">
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#Unsere_Kunden">Unsere Kunden</a></li>
    <li><a href="#S_u_V">Systematik und Vorgehen</a></li>
    <li><a href="#Preise_und_Kosten">Preise und Kosten</a></li>
    <li><a href="#Uber_uns">Über uns</a></li>
    <li><a href="#Kontakt">Kontakt</a></li>
  </ul>
</div>
