<div class="navbar-lewagon">
  <div class="title">Oldtimer Botschafter</div>
  <div class="headers">
    <div class="head"><a href="#home">Home</a></div>
    <div class="head"><a href="#Unsere_Kunden">Unsere Kunden</a></div>
    <div class="head"><a href="#S_u_V">Systematik und Vorgehen</a></div>
    <div class="head"><a href="#Preise_und_Kosten">Preise und Kosten</a></div>
    <div class="head"><a href="#Uber_uns">Über uns</a></div>
    <div class="head"><a href="#Kontakt">Kontakt</a></div>
  </div>
</div>
