// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    font-size: var(--font-sizes-body-sm-desktop);
    color: var(--color-grey-800);
    font-weight: 415;
    font-stretch: 103%;
}

html {
    font-family: AktivGrotesk,Arial,sans-serif;
    font-size: 10px;
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        /* box-sizing: border-box; */
    -moz-tab-size: 4;
    tab-size: 4;
    -webkit-text-size-adjust: 100%;
    /* box-sizing: border-box; */
    -moz-tab-size: 4;
    tab-size: 4;
    -webkit-text-size-adjust: 100%;
}

p {
  color: rgb(78, 78, 78)!important;
  font-size: 18px;
}

.image {
  height: 300px;
  border-radius: 10%;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;


}

html {
  scroll-behavior: smooth;
}

.border {
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  background-color: #eaeaea;
  display: block;
}

.flex-container-big {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  // padding-top: 200px;
  margin-bottom: 200px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  // flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  // align-items: center;
}

.text {
  width: 70%;
  height: 100%;

}

.img {
  width: 30%;
  padding-left: 15%;
  height: 400px;
  position: relative;
  align-items: center;
}
.navbar-lewagon {
  justify-content: center;
  background: white;
  height: 80px;
  position: sticky !important;
  top: 0;
  width: 100%;
    // max-width: 1366px;
    // position: relative;
    // margin: 0 auto;
    // display: block;

  ul li {
    display: inline;
    list-style-type: none;
  }

  a {
    color: rgb(78, 78, 78)!important;
    font-size: 20px !important;
    font-weight: 500;
    margin: 0 0.3em;
  }

  a:hover {
    color: #2D882D!important;
    cursor: pointer;
  }
}

#home {
  margin-top: -200px;
  padding-top: 200px;
}

#Unsere_Kunden {
  margin-top: -200px;
  padding-top: 200px;
}

#S_u_V {
  margin-top: -200px;
  padding-top: 200px;
}

#Preise_und_Kosten {
  margin-top: -200px;
  padding-top: 200px;
}

#Uber_uns {
  margin-top: -200px;
  padding-top: 200px;
}

#Kontakt {
  margin-top: -200px;
  padding-top: 200px;
}
