.navbar-lewagon {
    // justify-content: center;
    background: white;
    height: 80px;
    position: sticky !important;
    top: 0;
    // width: max 1365px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 30px;
    z-index: 1;
    flex-grow: 0;
    border-style: hidden;
    border-radius: 2px 2px 30px 30px;

  ul li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    padding-left: 20px;
    // justify-content: center;
  }

  a {
    color: rgb(78, 78, 78)!important;
    font-size: 20px !important;
    font-weight: 500;
    margin: 0 0.3em;
    text-decoration: none;
  }

  a:hover {
    color: #2D882D!important;
    cursor: pointer;

  }
}
